h1 {
  color:yellowgreen;
}
*{
    border: solid;
}
.header{
    background-image: url("studybg.jpg");
    display:flex;
    justify-content: space-between;
}
.grid{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
body{
    background-color: #32f800;
    background-image: url("spacebg.jpg");
}
